$color: #262828;

body {
  color: $color;
}

h2{
  color: red;
}

.clickable {
  cursor: pointer;
}

.no_clickable {
  cursor: not-allowed;
}
.turno {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}